doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Slider")
        meta(name="author" content="Melnikov Sergey")
        title Slider
        link(rel="icon" href="icon/favicon.jpg" type="image/x-icon")
        //- link(rel="stylesheet", href="css/icon.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .slider 
            .slider__container 
                .slider__item
                .slider__item
                .slider__item
                .slider__item
                .slider__item
                button.btn.button__prev
                button.btn.button__next
            .slider__dots
                .dot.dot_active
                .dot
                .dot
                .dot
                .dot

        script(src='js/script.js')
